:root {
  --background: black;
  --navbar-width: 256px;
  --navbar-width-min: 80px;
  --navbar-dark-primary: #0d6efd;
  --navbar-dark-secondary: #ffffff;
  --navbar-light-primary: #f5Cf6fa;
  --navbar-light-secondary: #ffffff;
}

html,
body {
  margin: 0;
  background: var(--background);
}

#nav-toggle:checked~#nav-header {
  width: calc(var(--navbar-width-min) - 16px);
}

#nav-toggle:checked~#nav-content,
#nav-toggle:checked~#nav-footer {
  width: var(--navbar-width-min);
}

#nav-toggle:checked~#nav-header #nav-title {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s;
}

#nav-toggle:checked~#nav-header label[for=nav-toggle] {
  left: calc(50% - 8px);
  transform: translate(-50%);
}

#nav-toggle:checked~#nav-header #nav-toggle-burger {
  background: var(--navbar-light-primary);
}

#nav-toggle:checked~#nav-header #nav-toggle-burger:before,
#nav-toggle:checked~#nav-header #nav-toggle-burger::after {
  width: 16px;
  background: var(--navbar-light-secondary);
  transform: translate(0, 0) rotate(0deg);
}

#nav-toggle:checked~#nav-content .nav-button span {
  opacity: 0;
  transition: opacity 0.1s;
}

#nav-toggle:checked~#nav-content .nav-button .fas {
  min-width: calc(100% - 16px);
}

#nav-toggle:checked~#nav-footer #nav-footer-avatar {
  margin-left: 0;
  left: 50%;
  transform: translate(-50%);
}

#nav-toggle:checked~#nav-footer #nav-footer-titlebox,
#nav-toggle:checked~#nav-footer label[for=nav-footer-toggle] {
  opacity: 0;
  transition: opacity 0.1s;
  pointer-events: none;
}

#nav-bar {
  position: absolute;
  left: 1vw;
  top: 1vw;
  height: calc(100% - 2vw);
  background: var(--navbar-dark-primary);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  color: var(--navbar-light-primary);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: hidden;
  user-select: none;
}

#nav-bar hr {
  margin: 0;
  position: relative;
  left: 16px;
  width: calc(100% - 32px);
  border: none;
  border-top: solid 1px var(--navbar-dark-secondary);
}

#nav-bar a {
  color: inherit;
  text-decoration: inherit;
}

#nav-bar input[type=checkbox] {
  display: none;
}

#nav-header {
  position: relative;
  width: var(--navbar-width);
  left: 16px;
  width: calc(var(--navbar-width) - 16px);
  min-height: 80px;
  background: var(--navbar-dark-primary);
  border-radius: 16px;
  z-index: 2;
  display: flex;
  align-items: center;
  transition: width 0.2s;
}

#nav-header hr {
  position: absolute;
  bottom: 0;
}

#nav-title {
  font-size: 1.5rem;
  transition: opacity 1s;
}

label[for=nav-toggle] {
  position: absolute;
  right: 0;
  width: 3rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#nav-toggle-burger {
  position: relative;
  width: 16px;
  height: 2px;
  background: var(--navbar-dark-primary);
  border-radius: 99px;
  transition: background 0.2s;
}

#nav-toggle-burger:before,
#nav-toggle-burger:after {
  content: "";
  position: absolute;
  top: -6px;
  width: 10px;
  height: 2px;
  background: var(--navbar-light-primary);
  border-radius: 99px;
  transform: translate(2px, 8px) rotate(30deg);
  transition: 0.2s;
}

#nav-toggle-burger:after {
  top: 6px;
  transform: translate(2px, -8px) rotate(-30deg);
}

#nav-content {
  margin: -16px 0;
  padding: 16px 0;
  position: relative;
  flex: 1;
  width: var(--navbar-width);
  background: var(--navbar-dark-primary);
  box-shadow: 0 0 0 16px var(--navbar-dark-primary);
  direction: rtl;
  overflow-x: hidden;
  transition: width 0.2s;
}

#nav-content::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

#nav-content::-webkit-scrollbar-thumb {
  border-radius: 99px;
  background-color: #D62929;
}

#nav-content-highlight {
  position: absolute;
  left: 16px;
  top: -70px;
  width: calc(100% - 16px);
  height: 54px;
  background: var(--background);
  background-attachment: fixed;
  border-radius: 16px 0 0 16px;
  transition: top 0.2s;
}

#nav-content-highlight:before,
#nav-content-highlight:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 100%;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  box-shadow: 16px 16px var(--background);
}

#nav-content-highlight:after {
  top: 100%;
  box-shadow: 16px -16px var(--background);
}

.nav-button {
  position: relative;
  margin-left: 16px;
  height: 54px;
  display: flex;
  align-items: center;
  color: var(--navbar-light-secondary);
  direction: ltr;
  cursor: pointer;
  z-index: 1;
  transition: color 0.2s;
}

.nav-button span {
  transition: opacity 1s;
}

.nav-button .fas {
  transition: min-width 0.2s;
}

.nav-button:nth-of-type(1):hover {
  color: var(--navbar-dark-primary);
}

.nav-button:nth-of-type(1):hover~#nav-content-highlight {
  top: 16px;
}

.nav-button:nth-of-type(2):hover {
  color: var(--navbar-dark-primary);
}

.nav-button:nth-of-type(2):hover~#nav-content-highlight {
  top: 70px;
}

.nav-button:nth-of-type(3):hover {
  color: var(--navbar-dark-primary);
}

.nav-button:nth-of-type(3):hover~#nav-content-highlight {
  top: 124px;
}

.nav-button:nth-of-type(4):hover {
  color: var(--navbar-dark-primary);
}

.nav-button:nth-of-type(4):hover~#nav-content-highlight {
  top: 178px;
}

.nav-button:nth-of-type(5):hover {
  color: var(--navbar-dark-primary);
}

.nav-button:nth-of-type(5):hover~#nav-content-highlight {
  top: 232px;
}

.nav-button:nth-of-type(6):hover {
  color: var(--navbar-dark-primary);
}

.nav-button:nth-of-type(6):hover~#nav-content-highlight {
  top: 286px;
}

.nav-button:nth-of-type(7):hover {
  color: var(--navbar-dark-primary);
}

.nav-button:nth-of-type(7):hover~#nav-content-highlight {
  top: 340px;
}

.nav-button:nth-of-type(8):hover {
  color: var(--navbar-dark-primary);
}

.nav-button:nth-of-type(8):hover~#nav-content-highlight {
  top: 394px;
}

#nav-bar .fas {
  min-width: 3rem;
  text-align: center;
}

#nav-footer {
  position: relative;
  width: var(--navbar-width);
  height: 54px;
  background: var(--navbar-dark-secondary);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  z-index: 2;
  transition: width 0.2s, height 0.2s;
}

#nav-footer-heading {
  position: relative;
  width: 100%;
  height: 54px;
  display: flex;
  align-items: center;
}

#nav-footer-avatar {
  position: relative;
  margin: 11px 0 11px 16px;
  left: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  transform: translate(0);
  transition: 0.2s;
}

#nav-footer-avatar img {
  height: 100%;
}

#nav-footer-titlebox {
  position: relative;
  margin-left: 16px;
  width: 10px;
  display: flex;
  flex-direction: column;
  transition: opacity 1s;
}

#nav-footer-subtitle {
  color: var(--navbar-light-secondary);
  font-size: 0.6rem;
}

#nav-footer-toggle:checked+#nav-footer {
  height: 30%;
  min-height: 54px;
}

#nav-footer-toggle:checked+#nav-footer label[for=nav-footer-toggle] {
  transform: rotate(180deg);
}

label[for=nav-footer-toggle] {
  position: absolute;
  right: 0;
  width: 3rem;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s, opacity 0.2s;
}

#nav-footer-content {
  margin: 0 16px 16px 16px;
  border-top: solid 1px var(--navbar-light-secondary);
  padding: 16px 0;
  color: var(--navbar-light-secondary);
  font-size: 0.8rem;
  overflow: auto;
}

#nav-footer-content::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

#nav-footer-content::-webkit-scrollbar-thumb {
  border-radius: 99px;
  background-color: #D62929;
}
/* {
  height: 672px;
  width: 1222px;
  position: relative;
  left: 135px;
  top: 17px;
  border-radius: 15px;
  background-color: #000000;
} */
/*...................home  ................................... */

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.containor {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 500px;
  height: 500px;
}

.ig {
  padding: 0px;
  width: 200px;
  height: 320px;
  object-fit: contain;
  transition-duration: 0.4s;
}

.ig:hover {
  transform: scale(1.2);
}

.image {
  height: 300px;
  border-radius: 15px;
  overflow: hidden;
  transition-duration: 0.5s;
}

.image:hover {
  box-shadow: 0px 0px 5px 3px #c5a3a3, 10px 6px 20px 0 blue;
}

.grid {
  display: grid;
  grid-template-columns: 155px 155px 155px 155px;
  grid-row-gap: 30px;
  grid-column-gap: 85px;
}

/* .ig1 {
  background-image: url('../public/bharat.jpeg');
  padding: 0px;
  width: 200px;
  height: 320px;
  transition-duration: 0.4s;
}

.ig1:hover {
  transform: scale(1.2);
} */
/*................................................................................ */
/* ............................  login ........................................ */
.login-wrap {
  width: 100%;
  border-radius: 15px;
  margin: auto;
  max-width: 490px;
  min-height: 619px;
  position: relative;
  background: url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) no-repeat center;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
}

.login-html {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 90px 70px 50px 70px;
  background: rgba(40, 57, 101, .9);
  border-radius: 15px;
}

.login-html .sign-in-htm {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: all .4s linear;
}

.login-html .sign-in,
.login-form .group .check {
  display: none;
}

.login-html .tab,
.login-form .group .label,
.login-form .group .button {
  text-transform: uppercase;
}

.login-html .tab {
  font-size: 22px;
  margin-right: 15px;
  padding-bottom: 5px;
  margin: 0 15px 10px 0;
  display: inline-block;
  border-bottom: 2px solid transparent;
}

.login-html .tab {
  color: #fff;
  border-color: #1161ee;
}

.login-form {
  min-height: 345px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.login-form .group {
  margin-bottom: 15px;
}

.login-form .group .label,
.login-form .group .input,
.login-form .group .button {
  width: 100%;
  color: #fff;
  display: block;
}

.login-form .group .input,
.login-form .group .button {
  border: none;
  padding: 15px 20px;
  border-radius: 25px;
  background: rgba(255, 255, 255, .1);
}

.login-form .group input[data-type="password"] {
  /* text-security:circle; */
  -webkit-text-security: circle;
}

.login-form .group .label {
  color: #aaa;
  font-size: 12px;
}

.login-form .group .button {
  background: #1161ee;
}

.login-form .group label .icon {
  width: 15px;
  height: 15px;
  border-radius: 2px;
  position: relative;
  display: inline-block;
  background: rgba(255, 255, 255, .1);
}

.login-form .group label .icon:before,
.login-form .group label .icon:after {
  content: '';
  width: 10px;
  height: 2px;
  background: #fff;
  position: absolute;
  transition: all .2s ease-in-out 0s;
}

.login-form .group label .icon:before {
  left: 3px;
  width: 5px;
  bottom: 6px;
  transform: scale(0) rotate(0);
}

.login-form .group label .icon:after {
  top: 6px;
  right: 0;
  transform: scale(0) rotate(0);
}

.login-form .group .check:checked+label {
  color: #fff;
}

.login-form .group .check:checked+label .icon {
  background: #1161ee;
}

.login-form .group .check:checked+label .icon:before {
  transform: scale(1) rotate(45deg);
}

.login-form .group .check:checked+label .icon:after {
  transform: scale(1) rotate(-45deg);
}

.login-html .sign-in:checked+.tab+.sign-up+.tab+.login-form .sign-in-htm {
  transform: rotate(0);
}

.hr {
  height: 2px;
  margin: 60px 0 50px 0;
  background: rgba(255, 255, 255, .2);
}

.foot-lnk {
  text-align: center;
}
/* .............................. ............................................ */
/* ..................... city button ........................................... */
.container {
  display: flex;
  text-align: center;
  justify-content: center;
  border-radius: 30%;
  position: relative;
}

button {
  background-color: rgb(163, 2, 2);
  border-radius: 6px;
  border: none;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.300);

}

button:hover {
  transform: scale(1.2);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.600);
  background-color: rgba(231, 87, 87, 0.986);
}

#map {
  width: 603px;
  transition: 0.2s ease-in-out;
}


#amreli {
  left: 46.5%;
  top: 62%;
  font-size: 8px;
  position: absolute;
  height: 15px;
  width: 40px;
}

#junagadh {
  left: 37%;
  top: 62%;
  position: absolute;
  height: 15px;
  width: 50px;
  font-size: 8px;

}

#surat {
  left: 68%;
  top: 64%;
  position: absolute;
  height: 15px;
  width: 40px;
  font-size: 8px;
}

#diu {
  left: 46%;
  top: 76%;
  position: absolute;
  height: 15px;
  width: 40px;
  font-size: 8px;
}

#rajkot {
  left: 41%;
  top: 50%;
  position: absolute;
  height: 15px;
  width: 39px;
  font-size: 8px;
}

#morbi {
  left: 42%;
  top: 34%;
  position: absolute;
  height: 15px;
  width: 40px;
  font-size: 8px;
}

#kutch {
  left: 24%;
  top: 24%;
  position: absolute;
  height: 15px;
  width: 50px;
  font-size: 8px;
}

#surendranagar {
  left: 50%;
  top: 37%;
  position: absolute;
  height: 15px;
  width: 65px;
  font-size: 8px;
}

#dang {
  left: 76%;
  top: 73%;
  position: absolute;
  height: 15px;
  width: 35px;
  font-size: 8px;
}

#ahmedabad {
  left: 59%;
  top: 33.5%;
  position: absolute;
  height: 15px;
  width: 55px;
  font-size: 8px;
}

#navasari {
  left: 69%;
  top: 73%;
  position: absolute;
  height: 15px;
  width: 50px;
  font-size: 8px;
}
.g_img{
  width: 1000px;
  background-size: contain;
  height: 671px;
  background-repeat: no-repeat;
  filter:  invert(1);
  background-image: url('./gujarat-map-removebg-preview.png');
}
/* ........................................................................... */
/* ............................info contact us............................... */

.container {
  background-color: white;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
  margin-bottom: 50px
}

.title {
  font-size: 25px;
  font-weight: 100
}

.icon {
  position: relative;
  bottom: 11px
}

.mt-100 {
  margin-top: 35px;
}

.profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%
}

.card {
  border-radius: 45px;
  margin-left: 30px;
  margin-right: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .2)
}

.card-body {
  position: relative;
  bottom: 35px
}

.btn {
  margin-top: 36px;
  margin-bottom: 45px;
  background-color: #AB47BC;
  border: none;
  color: #fff
}

.btn:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  color: #fff
}

.header {
  padding-top: 40px
}